In [14]:
import pandas as pd

In [15]:
# loading the dataset 

df = pd.read_csv("customers.csv")
df.head()

   customer_id first_name last_name                     email  age signup_date
0            1       John       Doe      john.doe@example.com   28  2020-06-15
1            2       Jane     Smith    jane.smith@example.com   34  2021-01-22
2            3       Mary   Johnson  mary.johnson@example.com   45  2022-03-18
3            4      James     White   james.white@example.com   52  2019-11-12
4            5      Emily     Brown   emily.brown@example.com   22  2023-02-03

In [31]:
df.shape

(20, 6)

In [32]:
#checking for the null values

df.isna().sum()

customer_id    0
first_name     0
last_name      0
email          0
age            0
signup_date    0
dtype: int64

In [33]:
#finding the duplicates from the dataset

df = df.drop_duplicates()

In [34]:
df.head().shape

(5, 6)

In [35]:
df.isna().sum()

customer_id    0
first_name     0
last_name      0
email          0
age            0
signup_date    0
dtype: int64

In [36]:
df['signup_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: signup_date
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes

In [37]:
df['signup_date'].info

<bound method Series.info of 0     2020-06-15
1     2021-01-22
2     2022-03-18
3     2019-11-12
4     2023-02-03
5     2022-07-29
6     2021-09-12
7     2020-05-10
8     2021-11-21
9     2019-08-30
10    2020-02-15
11    2021-08-06
12    2022-09-25
13    2021-10-19
14    2023-01-11
15    2020-12-02
16    2021-07-03
17    2022-05-19
18    2023-03-15
19    2021-12-14
Name: signup_date, dtype: object>

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  20 non-null     int64
 1   first_name   20 non-null     object
 2   last_name    20 non-null     object
 3   email        20 non-null     object
 4   age          20 non-null     int64
 5   signup_date  20 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.1+ KB

## some data transformations

In [39]:
df['signup_date'] = pd.to_datetime(df['signup_date'], format='%Y-%m-%d')

In [40]:
df['signup_date']

0    2020-06-15
1    2021-01-22
2    2022-03-18
3    2019-11-12
4    2023-02-03
5    2022-07-29
6    2021-09-12
7    2020-05-10
8    2021-11-21
9    2019-08-30
10   2020-02-15
11   2021-08-06
12   2022-09-25
13   2021-10-19
14   2023-01-11
15   2020-12-02
16   2021-07-03
17   2022-05-19
18   2023-03-15
19   2021-12-14
Name: signup_date, dtype: datetime64[ns]

In [41]:
df.shape

(20, 6)

In [42]:
df['email_domain'] = df['email'].apply(lambda x: x.split('@')[1])

In [43]:
df.columns

Index(['customer_id', 'first_name', 'last_name', 'email', 'age', 'signup_date',
       'email_domain'],
      dtype='object')

In [44]:
df.shape

(20, 7)

In [45]:
df['email_domain']

0     example.com
1     example.com
2     example.com
3     example.com
4     example.com
5     example.com
6     example.com
7     example.com
8     example.com
9     example.com
10    example.com
11    example.com
12    example.com
13    example.com
14    example.com
15    example.com
16    example.com
17    example.com
18    example.com
19    example.com
Name: email_domain, dtype: object

In [46]:
df['email_name'] = df['email'].apply(lambda x: x.split('@')[0])

In [47]:
df['email_name']

0            john.doe
1          jane.smith
2        mary.johnson
3         james.white
4         emily.brown
5       michael.clark
6         susan.davis
7      david.martinez
8        linda.garcia
9        robert.lopez
10        alice.adams
11          bob.baker
12    charlie.chapman
13      diana.edwards
14         eve.foster
15     frank.gonzalez
16       grace.harris
17      hannah.ingram
18      irene.jackson
19          jack.king
Name: email_name, dtype: object

In [48]:
df['full_name'] = df['first_name'] + " " + df['last_name']

In [49]:
df.shape

(20, 9)

In [50]:
df['full_name']

0            John Doe
1          Jane Smith
2        Mary Johnson
3         James White
4         Emily Brown
5       Michael Clark
6         Susan Davis
7      David Martinez
8        Linda Garcia
9        Robert Lopez
10        Alice Adams
11          Bob Baker
12    Charlie Chapman
13      Diana Edwards
14         Eve Foster
15     Frank Gonzalez
16       Grace Harris
17      Hannah Ingram
18      Irene Jackson
19          Jack King
Name: full_name, dtype: object

In [51]:
df

,customer_id,first_name,last_name,email,age,signup_date,email_domain,email_name,full_name
0,1,John,Doe,john.doe@example.com,28,2020-06-15,example.com,john.doe,John Doe
1,2,Jane,Smith,jane.smith@example.com,34,2021-01-22,example.com,jane.smith,Jane Smith
2,3,Mary,Johnson,mary.johnson@example.com,45,2022-03-18,example.com,mary.johnson,Mary Johnson
3,4,James,White,james.white@example.com,52,2019-11-12,example.com,james.white,James White
4,5,Emily,Brown,emily.brown@example.com,22,2023-02-03,example.com,emily.brown,Emily Brown
5,6,Michael,Clark,michael.clark@example.com,30,2022-07-29,example.com,michael.clark,Michael Clark
6,7,Susan,Davis,susan.davis@example.com,37,2021-09-12,example.com,susan.davis,Susan Davis
7,8,David,Martinez,david.martinez@example.com,41,2020-05-10,example.com,david.martinez,David Martinez
8,9,Linda,Garcia,linda.garcia@example.com,29,2021-11-21,example.com,linda.garcia,Linda Garcia
9,10,Robert,Lopez,robert.lopez@example.com,39,2019-08-30,example.com,robert.lopez,Robert Lopez
10,11,Alice,Adams,alice.adams@example.com,25,2020-02-15,example.com,alice.adams,Alice Adams
11,12,Bob,Baker,bob.baker@example.com,33,2021-08-06,example.com,bob.baker,Bob Baker
12,13,Charlie,Chapman,charlie.chapman@example.com,40,2022-09-25,example.com,charlie.chapman,Charlie Chapman
13,14,Diana,Edwards,diana.edwards@example.com,55,2021-10-19,example.com,diana.edwards,Diana Edwards
14,15,Eve,Foster,eve.foster@example.com,26,2023-01-11,example.com,eve.foster,Eve Foster
15,16,Frank,Gonzalez,frank.gonzalez@example.com,31,2020-12-02,example.com,frank.gonzalez,Frank Gonzalez
16,17,Grace,Harris,grace.harris@example.com,43,2021-07-03,example.com,grace.harris,Grace Harris
17,18,Hannah,Ingram,hannah.ingram@example.com,36,2022-05-19,example.com,hannah.ingram,Hannah Ingram
18,19,Irene,Jackson,irene.jackson@example.com,27,2023-03-15,example.com,irene.jackson,Irene Jackson
19,20,Jack,King,jack.king@example.com,50,2021-12-14,example.com,jack.king,Jack King

In [52]:
new_file = 'customer_new_data.csv'
df.to_csv(new_file, index=False)

In [28]:
import psycopg2 as pg
try:
     connection=pg.connect( 
          host='localhost',
          user='root',
          database='post_demo',
          password='pos_pass',
          port=5432
     )
     my_cursor=connection.cursor()
     connection.commit()
except Exception as error: 
     print(error)

In [23]:
create_table = '''
CREATE TABLE customer_data (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    age INT,
    signup_date DATE,
    email_domain VARCHAR(50),
    email_name VARCHAR(50),
    full_name VARCHAR(50)
) '''

In [11]:
my_cursor.execute(create_table)
connection.commit()

In [29]:
import csv
csv_file = 'customer_new_data.csv'
with open(csv_file, 'r') as f:
    read_file = csv.reader(f)
    next(f)
    for row in read_file:
        insert_query = """
        INSERT INTO customer_data (customer_id, first_name, last_name, email, age, 
        signup_date, email_domain, email_name, full_name)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        my_cursor.execute(insert_query, row)
connection.commit()